.header{
    height: 70px;
    background: #7FA2DA;
}
.header-sub {
    margin-top: 18px;
    text-align: right;
}
.header-text {
    margin-right: 20px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}
.header-btn {
    padding: 5px 20px 6px 20px;
    border-color: #0047B7;
    color: #F3F4F6;
    font-size: 14px;
    font-weight: 600;
    background: #0047B7;
    border-radius: 5px;
}
.row{
    margin-right: 0px !important;
}
.login-well {
    margin-left: 7px;
    margin-right: -15px;
    min-height: 600px;
}
.well-div {
    display: grid;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
}
.register-header {
    font-size: 36px;
    font-weight: bold;
}
.register-subheader {
    font-size: 20px;
    line-height: 33px;
    margin-left: 2px;
}
input {
    width:100%;
    padding: 10px;
    border-radius: 5px;
    height: 35px;
    box-shadow: 0px 0px 5px #D3DCE6;
    border-style: hidden;
}
.stnd-mrgn {
    margin: 10px;
}
.mrgn-top {
    margin-top: 15px;
}
.extra-mrgn {
    margin-top : 22px
}
.radio-btn {
    width: 10%;
    border: none;
    box-shadow: none;
    /* line-height: 44px; */
}
.radio-div {
    display: flex;
    margin-top: 15px;
}
.radio-text {
    margin-left:5px;
    line-height: 43px;
}
.signup-btn {
    width: 100%;
    border-color: #D90527;
    border-radius: 5px;
    background: #D90527;
    padding: 5px 20px 5px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}
.margin {
    margin: 45px;
}